.history-page {
  padding: 2rem;
  width: 600px;
  margin: auto;
  color: #adafc2;
  justify-items: center;
}

.history-page .title {
  width: 100%;
  text-align: center;
}

.history-table {
  width: 100%;
  border: 1px solid;
  font-size: 13px;
}

.history-table-header {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.history-table-data {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: white;
  border-top: 1px solid;
  padding: 10px 0px;
}

.clear-history-button {
  width: 190px;
  height: 15px;
  background-color: #38b896;
  height: 40px;
  margin: 35px 0px;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
